@import "react-image-gallery/styles/scss/image-gallery.scss";
@import '/src/styles/variables';
.detail-book{
    .gallery{
    }
    .title {
        font-size: 1.5rem;
    }
    .price{
        background-color: $light-gray;
        color: #F4511E;
        font-size:2rem;
        width: 100%;
        padding-left: 1rem;
        margin-bottom: 20px;
    }

    .control{
        border: 1px solid $gray;
        width: 2rem;
        height: 2rem;
        box-sizing: border-box;
    }
    .quantity{
        margin: 10px 0;
        input{
            width: 30px;
            height: 2rem;
            border: 0;
            border: 1px solid $gray;
            padding: 0;
            box-sizing: border-box !important;
            text-align: center;
        }
    }

    .left{
        display: inline-block;
        width: 70px;
        color: $dark-gray
    }
    .cart{
        background-color: $light-orange;
        color: $orange;
        border: 1px solid #e7b3ad;
        height: 2rem;
        border-radius: 2px;
    }
    .now{
        background-color: $orange;
        color: white;
        margin-left: 10px;
        border: 0;
        height: 2rem;
        border-radius: 2px;
    }
}